* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  padding: 16px 20px;
  background-color: #ffffff;
  display: block;
}

a:hover {
  border-bottom: 3px solid aqua;
  color: aqua;
  font-weight: bold;
}

ul {
  background-color: rgb(160, 160, 160);
  width: 70%;
  height: 100px;
  margin: 50px auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

/* ▼ WHERE YOUR CODE BEGINS */
